{% extends 'base.html' %}

{% block content %}
    <div class='text-center py-5'>
        <h1>FATTY GAMBAS</h1> 
        <h3>We will be launching soon, sign up below to stay in touch!</h3>
    </div>
   
    

    <div class="container">

        <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}    
            <div class="mb-3">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="First Name" name="fname" value="{{ fname }}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Last Name" name="lname" value="{{ lname }}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Age" name="age" value="{{ age }}">
            </div>
            <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" name="email" value="{{ email }}">
            </div>
            <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passwd" value="{{ passwd }}">
            </div>
            <br>
            <button type="submit" class="btn btn-secondary">Sign Up</button>
        </form>
    </div>

{% endblock %}
